/* FONTS */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), 
       url('../fonts/roboto-v29-latin-regular.woff') format('woff')
}; 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), 
       url('../fonts/roboto-v29-latin-500.woff') format('woff'); 
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), 
       url('../fonts/roboto-v29-latin-700.woff') format('woff'); 
}



body{
  font-family: "roboto", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#CEDDE8, #86A5C0);
}
.messenger{
  width: 530px;
  margin:0 auto;
  background-color:#fff;
    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color:#6A96D8;
  }
  &__left{
    display: flex;
    align-items: center;
  }
  &__dot{
    color:#fff;
    font-size: 26px;
    margin:0;
    margin-right: 10px;
  }
  &__name{
    display: flex;
    align-items: center;
    padding:0;
    margin:0;
    color:#fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    &::before{
      display: block;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      margin-right: 10px;
      content: "";
    }
  }
  &__cross{
    font-size: 26px;
    color:white;
    padding: 0;
    margin:0;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
  }
  &__main{
    padding: 30px
  }
  &__day{
    display: flex;
    align-items: center;
    justify-content: center;
    hr{
      width: 200px;
      background-color:#ccc
    }
  }
  &__text-left{
    position: relative;
    z-index: 0;
    &:before{
      display: block;
      position: relative;
      top: -10px;
      left: -15px;
      z-index: 4;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #d0d9e6;
      content: "";
    }
  }
  &__today{
    color:#ccc;
    font-size: 14px;
    font-weight: 700;
  }
  &__chat{
    list-style-type: none;
    padding: 0
  }
  &__time{
    display: inline-block;
    color:#ccc;
    margin-bottom: 8px;
  }
  .blue &__text-left{
    background-color:#d0d9e6;
    width:300px;
    padding:10px
  }
  
  .blue-2 &__text-left{
    background-color:#d0d9e6;
    width:120px;
    padding:10px
  }
  &__text-left{
    margin:0;
    font-weight: 500;
  }
  &__text{
    margin:0;
    font-weight: 500;
  }
  &__text-right{
    margin:0;
    font-weight: 500;
    &::before{
      display: block;
      position: relative;
      top: -10px;
      left: calc(100% + 5px);
      z-index: 4;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #F2F2F2;
      content: "";
    }
  }
  .green &__text-right{
    background-color:#F2F2F2;
    width: 350px;
    padding:10px
  }
  &__item-right{
    margin-left: 100px;
  }
  .right{
    margin-left: 330px;
  }
  .red{
      background-color:#FFC2C1;
      width:250px;
      padding:10px;
      margin-left: 200px;
      margin-top: 20px;
  }
  &__message hr{
      background-color:#ccc
  }
  &__send {
      display: flex;
      justify-content: space-between;
      align-items: center
  }
  &__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text-sender {
      color:rgb(0, 0, 0);
      font-size: 16px;
      width: 300px;
      font-weight: 700;
      border: none;
      outline: none;
      &::placeholder{
        color: rgb(152, 151, 151);
      }
  }
  
  &__btn {
      color:rgb(74, 114, 190);
      font-weight: 700;
      font-size: 18px;
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
}

